<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/EdgeLedger Website - flex/styles/style.css">
    <link rel="stylesheet" href="/EdgeLedger Website - flex/styles/utility.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
    crossorigin="anonymous"
  />

    <title>Welcome to Edgeledger</title>
</head>
<body id="body">
    <header class="hero">
        <div class="navbar">
            <h1 class="logo">
                <span class="text-primary"><i class="fas fa-book-open"></i> Edge</span
                >Ledger
            </h1>              
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#cases">Cases</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <section class="content">
            <h3>The Sky Is The Limit</h3>
            <p>We provide world class financial assistance</p>
            <a href="#about" class="btn btn-primary"><i class="fas fa-chevron-right"></i> Read More</a>
        </section>
    </header>
    <main>
        <section id="about">
            <div class="flex-items">
                <div>
                    <i class="fas fa-university fa-2x"></i>
                    <h3>Investment Banking</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deserunt!</p>
                </div>
                <div>
                    <i class="fas fa-book-reader fa-2x"></i>
                    <h3>Portfolio Manager</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deserunt!</p>
                </div>
                <div>
                    <i class="fas fa-pencil-alt fa-2x"></i>
                    <h3>Tax & Custodial</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deserunt!</p>
                </div>
            </div>
        </section>
        <section class="solutions">
            <div class="row">
                <div class="column">
                    <img src="../images/home/people.jpg" alt="">
                </div>
                <div class="column">
                    <div class="right-column bg-primary">
                        <h4>What are you looking for</h2>
                        <h2>We provode bespoke solutions</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur sequi velit laudantium repellat excepturi, sint, dignissimos error, beatae quidem quia id voluptatem! Placeat quaerat incidunt exercitationem adipisci aperiam ipsum soluta?</p>
                        <a href="" class="btn btn-outline">Read more</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="cases" class="cases py-3">
            <header class="section-heading">
                <h4>This is what we do</h4>
                <h2>Business Cases</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quisquam.</p>
            </header>
            <div class="row">
                <div class="column">
                    <img src="../images/cases/cases1.jpg" alt="">
                    <img src="../images/cases/cases2.jpg" alt="">
                </div>
                <div class="column">
                    <img src="../images/cases/cases3.jpg" alt="">
                    <img src="../images/cases/cases4.jpg" alt="">
                </div>
                <div class="column">
                    <img src="../images/cases/cases5.jpg" alt="">
                    <img src="../images/cases/cases6.jpg" alt="">
                </div>
                <div class="column">
                    <img src="../images/cases/cases7.jpg" alt="">
                    <img src="../images/cases/cases8.jpg" alt="">
                </div>
            </div>
        </section>
        <section id="blogs" class="blog">
            <div class="row">
                <div class="column">
                    <img src="../images/home/blog.jpg" alt="">
                </div>
                <div class="column">
                    <div class="right-column bg-secondary">
                        <h4>April 16 2020</h2>
                        <h2>Blog post one</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur sequi velit laudantium repellat excepturi, sint, dignissimos error, beatae quidem quia id voluptatem! Placeat quaerat incidunt exercitationem adipisci aperiam ipsum soluta?</p>
                        <a href="" class="btn btn-outline">Read our blog</a>
                    </div>
                </div>
            </div>
            
        </section>
        <section id="team" class="team">
            <header class="section-heading py-3">
                <h4>Who we are</h4>
                <h2>Our Professional Team</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quisquam.</p>
            </header>
            <div class="flex-items py-3">
                <div>
                    <img src="../images/team/person1.jpg" alt="">
                    <h4>Jhon Doe</h4>
                    <p>President</p>
                </div>
                <div>
                    <img src="../images/team/person2.jpg" alt="">
                    <h4>Jane Doe</h4>
                    <p>Vice President</p>
                </div>
                <div>
                    <img src="../images/team/person3.jpg" alt="">
                    <h4>Steve Smith</h4>
                    <p>Marketing Head</p>
                </div>
            </div>
        </section>

        <section class="contact">
            <div class="row">
                <div class="column">
                    <img src="../images/home/contact.jpg" alt="">
                </div>
                <div class="column">
                    <div class="right-column bg-light">
                        <form action="" class="callback-form">
                            <h2>Request Callback</h2>
                            <div class="form-control">
                                <input type="text" placeholder="Enter name">
                            </div>
                            <div class="form-control">
                                <input type="email" placeholder="Enter email">
                            </div>
                            <div class="form-control">
                                <input type="text" placeholder="Enter phone">
                            </div>
                            <button class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>


</body>
</html>